<!DOCTYPE html>
<html>
<head>
  <title>My Rails App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
  <%# <header>
    <h1>Welcome to My Rails App</h1>
    <nav>
      <a href="/">Home</a> |
 
    </nav>
    <hr>
  </header> %>

  <div class="content">
    <%= yield %>  <!-- This will render the specific view file (index, show, etc.) -->
  </div>

  <footer>
    <hr>
    <p>&copy; <%= Time.now.year %> My Rails App</p>
  </footer>
</body>
</html>
